<div class="filter-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search by name" />
    
    <select [(ngModel)]="selectedWorkoutType">
      <option value="">All</option>
      <option *ngFor="let type of availableWorkoutTypes">{{ type }}</option>
    </select>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Workouts</th>
        <th>Number of Workouts</th>
        <th>Total Workout Minutes</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of getPagedData()">
          <td>{{ user.name }}</td>
          <td>{{ getWorkoutTypes(user.workouts) }}</td>
          <td>{{ user.workouts.length }}</td>
          <td>{{ getTotalMinutes(user.workouts) }}</td>
        </tr>
      </tbody>      
  </table>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ getTotalPages() }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
  </div>
  <div>
    <div class="analysis-button-container">
      <button (click)="goToAnalysis()">Analysis</button>
    </div>    
  </div>
  