/* You can add global styles to this file, and also import other style files */
/* body {
    background: #f0f4f8;  
  }
  
  .app-container {
    min-height: 100vh;
    background-color: #fff;
    padding: 20px;
  }
   */